.filter-accordion .mantine-Checkbox-input {
  border: 2px solid var(--mantine-color-gray-6);
  transition: none;
}
.filter-accordion .mantine-Checkbox-icon {
  transition: none;
}
.filter-accordion .mantine-Accordion-label {
  font-weight: 500;
}
@media (min-width: 768px) {
  .filter-accordion .mantine-Accordion-content {
    padding-left: 0;
  }
  .filter-accordion .mantine-Accordion-control {
    padding-left: 0;
  }
}

.campaign-content ul {
  list-style-type: disc;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}

.campaign-content ol {
  list-style-type: decimal;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}

.campaign-content li {
  margin-bottom: 0.5rem;
  line-height: 1.6;
}

.campaign-content ul ul,
.campaign-content ol ol,
.campaign-content ul ol,
.campaign-content ol ul {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
