.root {
  position: relative;
  padding: var(--mantine-spacing-xs);
  transition: border-color 150ms ease;
  text-align: center;
  border-radius: var(--radius-md);

  @mixin hover {
    &:not([data-checked]) {
      background-color: var(--mantine-color-gray-0);
    }
  }

  &[data-checked] {
    background-color: var(--mantine-color-blue-1);
    border-color: var(--mantine-primary-color-filled);
    color: var(--mantine-primary-color-filled);
  }
}
